.coin-input {
  padding-left: 16px;
  width: 380px;
  height: 40px;
  border-radius: 2rem;
  border: none;
  /* border-bottom: solid 2px rgb(48, 54, 61); */
  /* background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    ); */
  background-color: rgb(48, 49, 52);
  font-size: 1rem;
  font-weight: 400;
  color: #e2e2e2;
  z-index: 1;
  position: absolute;
}

.coin-input::placeholder {
  color: rgb(100, 112, 124);
}

.coin-input:focus {
  outline: 0;
}

.coin-input-mobile {
  display: none;
}

.results-box-container {
  position: absolute;
}

.results-box {
  width: 380px;
  padding-bottom: 10px;
  background-color: rgb(48, 49, 52);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  z-index: 3;
  flex-direction: column;
}

.result-field-wrapper {
  width: 380px;
  height: 41px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.result-field {
  width: 360px;
  height: 1px;
  background-color: rgb(96, 97, 99);
  position: relative;
}

.search-icon-wrapper {
  display: none;
}

.search-error-container {
  position: absolute;
  padding-top: 5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-error-container > img {
  width: 90px;
}

.search-error-container > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
  margin-top: -0.5rem;
}

.search-loader {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 200px;
  margin-top: 0.5rem;
  background-color: rgb(48, 49, 52);
  animation: searchAnimation 0s ease-in 1s forwards;
}

.results-test {
  width: 100%;
  margin: 10px 0 10px 0;
}

.search-close-btn {
  display: none;
}

.search-cancel-btn {
  display: none;
}

@keyframes searchAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .coin-input {
    width: 250px;
  }

  .results-box {
    width: 250px;
    height: 260px;
  }

  .result-field {
    width: 230px;
  }

  .search-loader {
    width: 200px;
  }
}

@media screen and (max-width: 705px) {
  .coin-input {
    margin-left: 1rem;
    z-index: 2;
    display: none;
  }

  .results-box-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  .results-box {
    // margin-left: 1rem;
    width: 100%;
    height: 130%;
    margin: 0;
    margin-top: -2.5rem;
    padding-top: 0.5rem;
    border-radius: 0;
    overflow: hidden;
    background-color: rgb(32, 33, 36);
  }

  .search-icon-wrapper {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
  }

  .search-icon {
    &:hover {
      cursor: pointer;
    }
  }

  .coin-input-mobile {
    display: block;
    padding-left: 16px;
    width: 280px;
    height: 36px;
    border-radius: 10px;
    border: none;
    background-color: rgb(48, 49, 52);
    font-size: 1rem;
    font-weight: 400;
    color: #e2e2e2;

    &:placeholder {
      color: rgb(100, 112, 124);
    }

    &:focus {
      outline: 0;
    }
  }

  .result-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 53px;
    width: 100%;
    border-bottom: solid 1px rgb(60, 64, 67);
  }

  .search-cancel-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  .result-field {
    width: 100%;
    display: none;
  }

  .results-test {
    width: 90%;
  }

  .search-close-btn {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    display: inline-flex;
    bottom: 0;
    right: 0;
    margin: 0 2em 2em 0;
    border: solid 2px var(--bc-primary);
    background-color: var(--tc-secondary);
    padding: 0.5rem;
    border-radius: 2rem;
    filter: drop-shadow(0 0.4rem 0.3rem rgba(0, 0, 0, 0.2));
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  .search-cancel-btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: #2997ff;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-mobile-logo {
    width: 20px;
    // position: absolute;
  }
}
