* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: #1a1a1c; */
  /* background-color: rgb(32, 33, 36); */
  color: rgb(154, 160, 166);
  /* color: rgb(188, 192, 195); */
  font-weight: 400;
}

html {
  background-color: rgb(32, 33, 36);
}

.app {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(32, 33, 36);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mapped-coins {
  animation: fadein 0.1s;
}

.app-container {
  width: 100%;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 64px; */
  color: #fff;
}

.coin-search {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(32, 33, 36);
  border-bottom: solid 1px rgb(60, 64, 67);
}

.coin-search-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.results-box {
  width: 380px;
  height: 280px;
  background-color: rgb(48, 49, 52);
  border-radius: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  z-index: 1;
  flex-direction: column;
}

.result-field-wrapper {
  width: 380px;
  height: 41px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.result-field {
  width: 360px;
  height: 1px;
  background-color: rgb(96, 97, 99);
  position: relative;
}

.search-error-container {
  position: absolute;
  padding-top: 5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-error-container > img {
  width: 90px;
}

.search-error-container > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  text-align: center;
  margin-top: -0.5rem;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  z-index: 0;
}

.coin-input {
  padding-left: 16px;
  width: 380px;
  height: 40px;
  border-radius: 2rem;
  border: none;
  /* border-bottom: solid 2px rgb(48, 54, 61); */
  /* background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  ); */
  background-color: rgb(48, 49, 52);
  font-size: 1rem;
  font-weight: 400;
  color: #e2e2e2;
  z-index: 2;
  position: relative;
}

.coin-input::placeholder {
  color: rgb(100, 112, 124);
}

.coin-input:focus {
  outline: 0;
}

.search-loader {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 200px;
  margin-top: 0.5rem;
  background-color: rgb(48, 49, 52);
  animation: searchAnimation 0s ease-in 1s forwards;
}

@keyframes searchAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

/* ----------Coin data labels----------- */

.coin-data-label-cointainer {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.coin-data-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgb(54, 56, 59);
  width: 1000px;
  font-size: 0.8rem;
}

.coin-rank-label {
  width: 80px;
  text-align: center;
}

.coin-name-label {
  min-width: 225px;
}

.data-label-container {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price-label {
  width: 78px;
}

.coin-pricechange-label {
  width: 89px;
}

.volume-label {
  width: 135px;
  padding-right: 20px;
}

.twoFour-hours-price-change-label {
  width: 79px;
}

.market-cap-label {
  width: 135px;
}

/* -------Page buttons-------- */

.pageButtonsContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.pageButtonsWrapper {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.pageButtonsWrapper > button {
  padding: 10px;
  border: none;
  font-size: 1rem;
  background-color: rgb(32, 33, 36);
}

.pageButtonsWrapper > button:hover {
  cursor: pointer;
}

.pageNumber {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.global-data-container {
  font-size: 0.7rem;
  animation: fadein 0.1s;
  display: flex;
  flex-direction: column;
}

.active-cryptos {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  padding-top: 0.2rem;
}

.active-cryptos > p {
  font-weight: 500;
}

.active-cryptos p > span {
  color: rgb(221, 222, 225);
  font-weight: 500;
}

.dominance-container {
  display: flex;
  justify-content: right;
  padding-top: 0.3rem;
}

.dominance-wrapper {
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.dominance-wrapper > span {
  font-weight: 500;
  color: rgb(221, 222, 225);
}

.global-loader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.global-loader-container1 {
  width: 410px;
  height: 15px;
  background-color: var(--bc-secondary);
  border-radius: 1rem;
  margin-top: 0.1rem;
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.global-loader-container2 {
  width: 250px;
  height: 15px;
  background-color: var(--bc-secondary);
  border-radius: 1rem;
  margin-top: 0.4rem;
  /* margin-bottom: 0.5rem; */
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.global-shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.8s infinite;
}

.global-shimmer {
  width: 50%;
  height: 100%;
  background: rgba(69, 70, 77, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 10px 10px rgba(157, 168, 182, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(150%);
  }
}

/* ------------------- 1024px screen width ------------------- */

@media screen and (max-width: 1024px) {
  .market-cap-label {
    display: none;
  }

  .volume-label {
    display: none;
  }

  .coin-data-label-wrapper {
    width: 700px;
  }

  .twoFour-hours-price-change-label {
    padding-right: 20px;
  }

  .coin-search-container {
    width: 700px;
  }

  .coin-input {
    width: 250px;
  }

  .results-box {
    width: 250px;
    height: 260px;
  }

  .result-field {
    width: 230px;
  }

  .search-error-container {
    width: 200px;
  }

  .search-loader {
    width: 200px;
  }

  .coin-price-label {
    width: 86px;
  }
}

/* ------------------- 705px screen width ------------------- */

@media screen and (max-width: 705px) {
  .coin-rank-label {
    width: 16px;
    margin-left: 10px;
  }

  .coin-name-label {
    min-width: 100px;
    margin-left: 10px;
  }

  .coin-pricechange-label {
    display: none;
  }

  .data-label-container {
    justify-content: flex-end;
    width: 200px;
    margin-left: auto;
  }

  .coin-data-label-wrapper {
    width: 93.5vw;
    font-size: 0.75rem;
  }

  .twoFour-hours-price-change-label {
    padding-right: 5px;
  }

  .coin-price-label {
    width: 86px;
  }

  .coin-search-container {
    width: 100%;
    padding-top: 2.1rem;
    flex-direction: column;
  }

  .coin-input {
    margin-left: 1rem;
  }

  .results-box {
    margin-left: 1rem;
  }

  .global-data-container {
    flex-direction: row;
    position: relative;
    z-index: 0;
    margin-top: 1.2rem;
    padding-left: 1rem;
    white-space: nowrap;
    overflow: auto hidden;
    scrollbar-width: none;
  }

  .global-data-container::-webkit-scrollbar {
    display: none;
  }

  .active-cryptos {
    padding-top: 0;
  }

  .dominance-container {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 1rem;
  }

  .pageButtonsContainer {
    padding: 1rem 0 1rem 0;
  }

  .pageNumber {
    font-size: 0.9rem;
  }

  .global-loader {
    align-items: center;
  }

  .global-loader-container1 {
    width: 93.5vw;
    margin-top: 1.1rem;
  }

  .global-loader-container2 {
    display: none;
  }
}
