@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(150%);
  }
}

.coin-loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  height: 70px;
  border-bottom: 1px solid rgb(54, 56, 59);
}

.coin-loader-container {
  background-color: var(--bc-secondary);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.role-cont {
  display: flex;
  align-items: center;
  height: 70px;
}

.rankload {
  width: 57.4px;
}

.nameload {
  width: 200px;
}

.priceload {
  width: 103px;
}

.changeload {
  width: 140px;
}

.percload {
  width: 129px;
}

.mcapload {
  width: 186px;
}

.volload {
  width: 165px;
}

.rank-load {
  width: 20px;
  height: 20px;
  margin: auto;
}

.name-load {
  width: 80px;
  height: 20px;
}

.name2-load {
  width: 100px;
  height: 20px;
}

.name3-load {
  width: 140px;
  height: 20px;
}

.name4-load {
  width: 105px;
  height: 20px;
}

.price-load {
  width: 90px;
  height: 20px;
  margin-left: auto;
}

.price2-load {
  width: 70px;
  height: 20px;
  margin-left: auto;
}

.price3-load {
  width: 60px;
  height: 20px;
  margin-left: auto;
}

.price4-load {
  width: 45px;
  height: 20px;
  margin-left: auto;
}

.change-load {
  width: 80px;
  height: 20px;
  margin-left: auto;
}

.change2-load {
  width: 70px;
  height: 20px;
  margin-left: auto;
}

.change3-load {
  width: 55px;
  height: 20px;
  margin-left: auto;
}

.change4-load {
  width: 75px;
  height: 20px;
  margin-left: auto;
}

.perc-load {
  width: 70px;
  height: 20px;
  margin-left: auto;
}

.mcap-load {
  width: 140px;
  height: 20px;
  margin-left: auto;
}

.mcap2-load {
  width: 130px;
  height: 20px;
  margin-left: auto;
}

.mcap3-load {
  width: 120px;
  height: 20px;
  margin-left: auto;
}

.mcap4-load {
  width: 120px;
  height: 20px;
  margin-left: auto;
}

.vol-load {
  width: 125px;
  height: 20px;
  margin-left: auto;
}

.vol2-load {
  width: 120px;
  height: 20px;
  margin-left: auto;
}

.vol3-load {
  width: 110px;
  height: 20px;
  margin-left: auto;
}

.vol4-load {
  width: 110px;
  height: 20px;
  margin-left: auto;
}

.coin-shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.8s infinite;
}

.coin-shimmer {
  width: 30%;
  height: 100%;
  background: rgba(69, 70, 77, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 10px 10px rgba(157, 168, 182, 0.05);
}

@media screen and (max-width: 1024px) {
  .coin-loader {
    width: 700px;
  }

  .mcapload {
    display: none;
  }

  .volload {
    display: none;
  }

  .changeload {
    width: 178.7px;
  }

  .percload {
    width: 142px;
  }

  .rankload {
    width: 48.7px;
  }

  .priceload {
    width: 110px;
  }
}

@media screen and (max-width: 705px) {
  .coin-loader {
    width: 350px;
    height: 65px;
  }

  .changeload {
    display: none;
  }

  .perc-load {
    width: 65px;
  }

  .percload {
    width: 100px;
  }

  .nameload {
    max-width: 150px;
  }
}
