.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid rgb(54, 56, 59);
  width: 1000px;
}

.coin-row:hover {
  cursor: pointer;
  background-color: rgb(39, 40, 44);
}

.coin {
  display: flex;
  align-items: center;
  /* padding-right: 24px; */
  min-width: 250px;
}

.coin-rank {
  width: 50px;
  text-align: center;
}

.name-symbol-wrap {
  /* display: flex;
  flex-direction: row; */
}

.coin img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.name-symbol-wrap h1 {
  font-size: 16px;
  font-weight: 500;
  /* width: 150px; */
  padding-right: 5px;
  color: rgb(221, 222, 225);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
  font-weight: 500;
  color: rgb(221, 222, 225);
}

.coin-pricechange {
  width: 110px;
}

.coin-volume {
  width: 155px;
  padding-right: 20px;
  color: rgb(188, 192, 195);
}

.coin-marketcap {
  width: 155px;
  color: rgb(188, 192, 195);
}

.coin-percent {
  width: 100px;
}

.coin-percent-container {
  padding: 4px;
  border-radius: 8px;
}

.red {
  color: rgb(242, 139, 130);
}

.green {
  color: rgb(129, 201, 149);
}

#coin-arrow-down {
  color: rgb(68, 32, 32);
  background-color: rgb(209, 123, 114);
}

#coin-arrow-up {
  color: rgb(28, 65, 40);
  background-color: rgb(105, 185, 127);
}

.red-cont {
  /* color: rgb(242, 139, 130); */
  color: rgb(68, 32, 32);
  background-color: rgb(209, 123, 114);
  font-weight: 500;
}

.green-cont {
  color: rgb(28, 65, 40);
  background-color: rgb(105, 185, 127);
  font-weight: 500;
}

/* ------------------- 1024px screen width ------------------- */

@media screen and (max-width: 1024px) {
  .coin-marketcap {
    display: none;
  }

  .coin-volume {
    display: none;
  }

  .coin-row {
    width: 700px;
  }

  .coin-percent {
    padding-right: 20px;
  }
}

/* ------------------- 705px screen width ------------------- */

@media screen and (max-width: 705px) {
  .coin {
    min-width: 0;
    width: 190px;
  }

  .coin img {
    height: 20px;
    width: 20px;
    /* margin-right: 10px; */
    margin-left: 10px;
  }

  .coin-pricechange {
    display: none;
  }

  .coin-row {
    width: 350px;
    height: 65px;
    font-size: 0.85rem;
  }

  .name-symbol-wrap > h1 {
    font-size: 0.85rem;
    max-width: 95px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .coin-rank {
    width: auto;
    min-width: 16px;
    margin-left: 10px;
  }

  .coin-data {
    width: 200px;
  }

  .coin-percent {
    padding-right: 5px;
    width: 80px;
  }
}
