canvas {
  width: 600px;
  height: 355px;
  background: rgb(32, 33, 36);
  padding-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .chart-style {
    height: 250px;
  }
}

@media screen and (max-width: 705px) {
  .chart-style {
    width: 330px;
    height: 30vh;
  }
}
