:root {
  --bc-primary: rgb(32, 33, 36);
  --bc-secondary: rgb(39, 40, 43);

  --tc-red: rgb(242, 139, 130);
  --tc-green: rgb(129, 201, 149);

  --tc-primary: rgb(221, 222, 225);
  --tc-secondary: rgb(154, 160, 166);

  --border: rgb(60, 64, 67);
}

* {
  box-sizing: border-box;
}

.popup-background {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: 2;
}

.popup-wrapper {
  position: relative;
  padding: 32px;
  background: var(--bc-primary);
  display: flex;
  width: 1000px;
  height: 590px;
  justify-content: left;
  align-items: center;
  border-radius: 1rem;
  flex-direction: row;
}

.popup-name-chart-wrapper {
  flex-direction: column;
  padding-left: 1rem;
  background-color: var(--bc-primary);
  height: 535px;
  display: flex;
  align-content: space-between;
}

.popup-img-container {
  display: flex;
  background-color: var(--bc-primary);
  justify-content: space-between;
  border-bottom: solid 1px rgb(60, 64, 67);
}

.popup-image-name-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--bc-primary);
}

.popup-image {
  width: 19px;
  height: 19px;
  background: var(--bc-primary);
  margin-top: 5px;
  margin-right: 7px;
}

.popup-coin-name {
  padding-bottom: 0.4rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--bc-primary);
  color: var(--tc-primary);
}

.popup-coin-symbol {
  /* background-color: rgb(50, 55, 65); */
  color: var(--tc-primary);
  /* padding: 2px 5px 2px 5px; */
  /* border-radius: 4px; */
  align-self: center;
  font-size: 1rem;
  /* font-weight: 500; */
  /* margin-bottom: 12px; */
  margin-left: 0.5rem;
}

.popup-header-details {
  padding-top: 0.6rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chart-wrapper {
  margin-top: 1.75rem;
  background-color: var(--bc-primary);
  align-self: flex-end;
  animation: fadein 0.1s;
}

.popup-price {
  background-color: var(--bc-primary);
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--tc-primary);
  padding-top: 0.8rem;
}

.popup-currency {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--tc-secondary);
  background-color: var(--bc-primary);
}

.popup-pricechange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-positive {
  color: var(--tc-green);
}

.inactive-button {
  border: none;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  background-color: var(--bc-primary);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: var(--tc-secondary);
}

.active-button-green {
  color: var(--tc-green);
  border: none;
  border-bottom: solid 2px var(--tc-green);
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  background-color: var(--bc-primary);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.active-button-red {
  color: var(--tc-red);
  border: none;
  border-bottom: solid 2px var(--tc-red);
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
  background-color: var(--bc-primary);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.popup-price-change {
  background-color: var(--bc-primary);
  font-size: 1.1rem;
  padding-top: 5px;
}

.green-popup {
  color: var(--tc-green);
}

.red-popup {
  color: var(--tc-red);
}

#arrow-up {
  color: var(--tc-green);
  background-color: var(--bc-primary);
  font-size: 1rem;
}

#arrow-down {
  background-color: var(--bc-primary);
  color: var(--tc-red);
  font-size: 1rem;
}

.popup-coin-info-wrapper {
  width: 290px;
  height: 550px;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bc-primary);
  align-items: flex-end;
  padding-bottom: 1.7rem;
}

.popup-coin-info-container {
  width: 275px;
  height: 340px;
  display: flex;
  align-items: center;
  background-color: var(--bc-secondary);
  /* border: solid 1px var(--border); */
  border-radius: 1rem;
  flex-direction: column;
  padding-top: 0.5rem;
  align-self: flex-start;
}

.popup-coin-info-container > p,
div,
span {
  background-color: transparent;
}

.popup-coin-detail-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--border);
}

.popup-coin-detail-container:last-child {
  border-bottom: none;
}

.popup-coin-detail-wrapper {
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.popup-coin-detail-wrapper > span {
  margin-bottom: 0.2rem;
  color: var(--tc-primary);
  font-weight: 500;
}

.popup-coin-info-wrapper > button {
  border: none;
}

#close-btn {
  font-size: 1.5rem;
  color: var(--tc-secondary);
  cursor: pointer;
  background-color: var(--bc-primary);
  -webkit-text-stroke: 2px var(--bc-primary);
}

.loader-container {
  width: 600px;
  height: 340px;
  background-color: var(--bc-secondary);
  border-radius: 1rem;
  margin-top: 2.35rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(75, 76, 83, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 80px 80px rgba(157, 168, 182, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(150%);
  }
}

.popup-error-screen {
  width: 930px;
  height: 530px;
  z-index: 5;
  position: absolute;
  background-color: var(--bc-primary);
  margin-top: -7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-error-container {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}

.popup-error-container > img {
  width: 130px;
}

.popup-error-container > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9rem;
  text-align: center;
  margin-top: -0.5rem;
}

@media screen and (max-width: 1024px) {
  .popup-wrapper {
    width: 700px;
    height: 580px;
    flex-direction: column;
  }

  .popup-name-chart-wrapper {
    padding-left: 0;
  }

  .popup-coin-name {
    font-size: 1.2rem;
  }

  .popup-image {
    width: 16px;
    height: 16px;
  }

  .popup-coin-symbol {
    font-size: 0.8rem;
  }

  .popup-price {
    font-size: 2rem;
  }

  .popup-price-change {
    font-size: 0.9rem;
  }

  .inactive-button {
    font-size: 0.8rem;
  }

  .active-button-green {
    font-size: 0.8rem;
  }

  .active-button-red {
    font-size: 0.8rem;
  }

  .popup-header-details {
    height: 118px;
    padding-top: 0;
  }

  .popup-coin-symbol {
    padding-right: 2rem;
  }

  .chart-wrapper {
    margin-top: 0.5rem;
  }

  .popup-coin-info-container {
    font-size: 0.9rem;
    flex-direction: column;
    background-color: transparent;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    height: 9rem;
    /* margin-top: -10rem; */
    padding-left: 0.5rem;
  }

  .popup-coin-info-wrapper {
    margin-left: 0;
    align-self: flex-start;
    margin-top: 9.5rem;
    padding-bottom: 0;
  }

  .popup-coin-detail-container {
    border-bottom: 0;
    border-right: solid 1px rgb(60, 64, 67);
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .popup-coin-detail-container:last-child {
    border-right: none;
  }

  .popup-coin-detail-wrapper {
    width: 195px;
    /* height: 70px; */
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
  }

  .popup-coin-detail-wrapper > span {
    padding-right: 0.5rem;
  }

  .popup-coin-info-wrapper > button {
    margin-right: -20.5rem;
    margin-top: -32.85rem;
    z-index: 5;
  }

  .loader-container {
    height: 235px;
    margin-top: 15px;
  }

  .popup-error-screen {
    width: 650px;
    height: 550px;
  }
}

@media screen and (max-width: 705px) {
  .popup-wrapper {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /* white-space: nowrap;
    overflow: auto hidden;
    scrollbar-width: none; */
    padding-top: 1.2rem;
    border-radius: 0;
  }

  .popup-name-chart-wrapper {
    align-items: center;
  }

  .popup-header-details {
    width: 85vw;
  }

  .popup-price {
    font-size: 2.2rem;
  }

  .popup-pricechange {
    flex-direction: column;
    height: 70px;
    /* padding-top: 0.5rem; */
  }

  .chart-wrapper {
    margin-top: 2.6rem;
  }

  .popup-price-change {
    font-size: 1rem;
  }

  .inactive-button {
    font-size: 0.9rem;
  }

  .active-button-green {
    font-size: 0.9rem;
  }

  .active-button-red {
    font-size: 0.9rem;
  }

  .chartButtons-green {
    margin-left: -5px;
  }

  .popup-coin-info-wrapper {
    margin-top: 0;
    width: 85vw;
    height: 50vh;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-self: center;
    flex-direction: column-reverse;
  }

  .popup-coin-info-container {
    flex-wrap: nowrap;
    height: 100%;
    /* margin-top: 32rem; */
    font-size: 1rem;
    padding: 0;
    /* align-self: flex-start; */
    /* scrollbar-width: none; */
  }

  .popup-coin-detail-container {
    border-right: 0;
    margin-top: 0;
    padding: 0 0 1rem 0;
  }

  .popup-coin-detail-wrapper {
    width: 300px;
  }

  .popup-coin-info-wrapper > button {
    position: absolute;
    margin: 0;
    margin-top: 32vh;
    border: solid 2px var(--tc-secondary);
    background-color: var(--bc-primary);
    padding: 0.5rem;
    border-radius: 2rem;
  }

  #close-btn {
    width: 24px;
    height: 24px;
  }

  .popup-coin-symbol {
    padding-right: 0;
  }

  .loader-container {
    width: 88vw;
    height: 28vh;
    margin-top: 3.12rem;
  }

  .popup-error-screen {
    width: 90vw;
    height: 100vh;
    margin-left: -2.5vw;
  }

  .popup-error-container {
    width: 80vw;
  }
}
